@tailwind base;
@tailwind components;
@tailwind utilities;

main > div > div {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: black;
  transform: scale(0.985, 0);
  transform-origin: top;

  transition: 0.7s 1s ease-out;
}
